<div class="container">
  <h1 mat-dialog-title>Plan Adquirido</h1>

  <div class="ventana-modal" mat-dialog-content>
    <p>{{ data.titulo }}</p>
    <p>{{ data.usuarios }}</p>
    <p>{{ data.velocidad }}</p>
    <p>{{ data.paquete }}</p>
    <p>{{ data.precio }}</p>
  </div>

  
  <div class="centro-boton" mat-dialog-actions>
    <button mat-button mat-dialog-close>Aceptar</button>
  </div>


  <div class="centro-boton" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</div>
