


<section class="caja">
  <mat-card   class="carta_basico">
    <mat-card-header>
      <mat-card-title>Básico</mat-card-title>
    </mat-card-header>

    <mat-card-actions>
      <button mat-stroked-button class="precio_basico">$5.99</button>
    </mat-card-actions>

    <mat-card-content class="letras">100 MB Navegación</mat-card-content>
    <mat-card-content class="letras">2 Usuarios Conectados</mat-card-content>
    <mat-card-content class="letras">Velocidad 5 MB/s</mat-card-content>
    <mat-card-content class="color_basico">Conectividad</mat-card-content>
  </mat-card>

  <mat-card class="carta">
    <mat-card-header>
      <mat-card-title>Profesional</mat-card-title>
    </mat-card-header>

    <mat-card-actions>
      <button mat-stroked-button class="precio">$24.99</button>
    </mat-card-actions>

    <mat-card-content>1 TB Navegación</mat-card-content>
    <mat-card-content>Usuarios Ilimitados</mat-card-content>
    <mat-card-content>Velocidad 30 MB/s</mat-card-content>
    <mat-card-content class="color">Conectividad</mat-card-content>
  </mat-card>

  <mat-card class="carta_basico">
    <mat-card-header>
      <mat-card-title>Máster</mat-card-title>
    </mat-card-header>

    <mat-card-actions>
      <button mat-stroked-button class="precio_basico">$15.99</button>
    </mat-card-actions>

    <mat-card-content class="letras">400 MB Navegación</mat-card-content>
    <mat-card-content class="letras">4 Usuarios Conectados</mat-card-content>
    <mat-card-content class="letras">Velocidad 10 MB/s</mat-card-content>
    <mat-card-content class="color_basico">Conectividad</mat-card-content>
  </mat-card>
</section>
