<section>
  <mat-card (click)="abrirModal()">
    <mat-card-header>
      <mat-card-title #seccion>Básico</mat-card-title>
    </mat-card-header>

    <mat-card-actions>
      <button mat-stroked-button class="precio_basico">$5.99</button>
    </mat-card-actions>

    <mat-card-content>100 MB Navegación</mat-card-content>
    <mat-card-content>2 Usuarios Conectados</mat-card-content>
    <mat-card-content>Velocidad 5 MB/s</mat-card-content>
    <mat-card-content>Conectividad</mat-card-content>
  </mat-card>

  <mat-card (click)="abrirModal()">
    <mat-card-header>
      <mat-card-title>Profesional</mat-card-title>
    </mat-card-header>

    <mat-card-actions>
      <button mat-stroked-button>$24.99</button>
    </mat-card-actions>

    <mat-card-content>1 TB Navegación</mat-card-content>
    <mat-card-content>Usuarios Ilimitados</mat-card-content>
    <mat-card-content>Velocidad 30 MB/s</mat-card-content>
    <mat-card-content>Conectividad</mat-card-content>
  </mat-card>

  <mat-card (click)="abrirModal()">
    <mat-card-header>
      <mat-card-title>Máster</mat-card-title>
    </mat-card-header>

    <mat-card-actions>
      <button mat-stroked-button class="precio_basico">$15.99</button>
    </mat-card-actions>

    <mat-card-content>400 MB Navegación</mat-card-content>
    <mat-card-content>4 Usuarios Conectados</mat-card-content>
    <mat-card-content>Velocidad 10 MB/s</mat-card-content>
    <mat-card-content >Conectividad</mat-card-content>
  </mat-card>
</section>
