section{
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

 mat-card-actions button {
  padding: 20px;
  font-size: 4rem;
  border-radius: 20px;
  box-shadow: 1px 1px 10px var(--clarito);
  border: 2px solid var(--celeste);
  color: var(--celeste);
} 
mat-card-title{
  color: var(--celeste);
}

mat-card:nth-child(2){
  background: linear-gradient(var(--celeste),var(--azul));
  button{
    background-color: transparent;
  }
  mat-card-content,mat-card-title,button{
    color: #fff;
  }
}

mat-card{
  margin: 25px;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  transition: .3s;
}
mat-card:hover{
  width: 450px;
  height: 420px;
  background: linear-gradient(var(--celeste),var(--azul));
  mat-card-content,mat-card-title,button{
    color: #fff;
  }
}
mat-card:nth-child(2):hover{
  width: 450px;
  height: 420px;
  background:#fff;
  mat-card-content,mat-card-title,button{
    color: var(--celeste);
  }
}

mat-card-content{
  border: 1px solid var(--celeste);
  width: 65%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 1px 2px 10px var(--clarito);
  color: var(--celeste);
}
